$accent-1: #005EB8;
$accent-2: #00FFD1;
$grey-900: #444444;
$grey-800: #6B6B6B;
$grey-700: #333333;
$grey-600: #708090;
$grey-500: #808080;
$grey-400: #CCCCCC;
$grey-200: #E5E5E5;
$grey-100: #F2F2F2;
$white: #FFFFFF;

$gradient-1: linear-gradient(45deg, $accent-1 0%, $accent-2 100%);
$gradient-2: linear-gradient(45deg, $accent-1 100%, $accent-2 100%);

@keyframes gradient-animation {
    0% {
        background-color: $gradient-1;
    }
    100% {
        background-color: $gradient-2;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
}
input {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: underline;
        color: $accent-1;
    }
    &:active {
        text-decoration: underline;
        color: $accent-2;
    }
}
body {
    font-family: 'Montserrat', sans-serif;
    color: $grey-900;
}
.navbar__wrapper {
    width: 100%;
    padding: 4px;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    font-size: 13px;
    padding: 6px;
    height: 48px;
    @media (min-width: 576px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}
.navbar__item {
    padding-right: 15px;
}
.main__wrapper {
    display: grid;
    place-items: center;
    height: 500px;
}

.search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
}
.logo {
    max-width: 350px;
}
.search__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 20px;
    width: 100%;
}
.search__input-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 48px;
}
.search__input {
    color: inherit;
    height: 100%;
    border-radius: 3rem;
    border: none;
    outline: 1px solid $grey-200;
    padding: 0.5rem 1rem;
    caret-color: $grey-500;
    color: $grey-900;
    font-size: 1rem;
    &:focus {
        outline: 1px solid $grey-400;
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
        & + .search__icon {
            opacity: 0;
        }
    }
    &:valid + .search__icon {
        opacity: 0;
    }
}
.search__icon {
    fill: $grey-400;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.search__buttons-wrapper {
    display: flex;
    gap: 8px;
}
.search__button {
    background: $gradient-2;
    color: $grey-100;
    border-radius: 4px;
    border: none;
    height: 36px;
    padding: 0 16px;
    max-width: 150px;
    transition: background 0.5s ease-in-out;
    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
        background: $gradient-1;
    }

}


